.navbar {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .35);
    font-family: 'Sans', Helvetica, Arial, sans-serif;
}
.navbar .navbar-brand {
    color: #0654c9;
    font-weight: 600;
    line-height: 18px;
}
.navbar .navbar-brand img {
    border-radius: 100%;
}

